<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/thoughts/dashboard" class="btn">Criar Pensamentos</a>
    </div>
    <h3>Seus Pensamentos</h3>
</div>